.skill {
  color: #444;
  position: relative;
  .wrapper_skill {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .skill_item {
    text-align: center;
    float: left;
    width: 50%;
  }
  .name {
    font-size: 3vh;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  .wrapper_skill {
    width: 80vw !important;
  }
}