body,nav,ul,li{
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
  	font-weight:400;
}
#nav_right img{
	height: 20px;
	width: 20px;
	background-color: lightpink;
	border-radius:8px ;
}
#nav_right{
	margin-right:60px ;
}
#nav{
	background-color: #f5f5f5;
}
#nav a{
	color: black;
}
#nav li a:hover{
	color: lightpink;
}
#nav li:hover{
	transform: rotate(-4deg);
	transition: all 0.5s; 
}
#tab{
	margin-left: 40px;
}



.container{
	padding-top: 80px;
	border: 2px solid lightpink;
}
#pic img{
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
	width: 90%;
	border-radius: 5px;
	position: relative;
}
#pic #txt{
	position: absolute;
	text-align: center;
	left: 50%;
	top: 250px;
	transform: translate(-50%,-50%);
	z-index: 1; border-radius: 5px;
	background: white; cursor: pointer;
	opacity: 0.7;
}
#pic #txt i{
	color: lightpink;
	
}
#pic #txt:hover{
	opacity: 1;
	transition: 2s;
}
#carousel_pic img{
	width: 100%;
	
}
.container #panel_1 img{
	width: 100%;
}
.container #txt_mark{
	line-height: 50px;
	font-size: 25px;
	color: lightpink;
}
.container .panel-heading{
	background-color: lightpink;
	color: white;
	font-size: 20px;
}
.container #panel_2 img,
.container #panel_3 img{
	width: 100%;
	height: 150px;
}
.container #panel_3 img{
	border-radius: 20px;
}
.container #panel_3 img:hover,
.container #panel_2 img:hover{
	opacity: .7;
	transform: rotate(-4deg);
	transition: all 0.5s;
}
.container #panel_2,
.container #panel_3{
	text-align: center;
}
#panel_1{
	text-align: center;
}
.cus-copy{
	text-align: center;
	margin: 50px 0 30px 0;
}

#footer{
	height: 50px;
	width: 87%;
	background: lightpink;
	margin: 0 auto;
}
#footer p{
	color: white;
	font-size: 20px;
	margin-top:17px;
	display: inline-block;
	float: right;
}
