@charset "utf-8";
/* CSS Document */

/*公共样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0}
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal}
ol, ul { list-style:none; display:block }
ol, ul, li, dl, dd, dt{display:block}
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal}
q:before, q:after { content:'' }
abbr, acronym { border:0}
input{outline: none}
textarea{ resize: none; outline: none}
html,body{height:100%}
html{ font-size: 20px}
/*删除ios 系统默认样式*/
select,input { appearance:none;-moz-appearance:none;-webkit-appearance:none; } 
body{position:relative;font-size:0.6rem!important; color:#333; line-height: 1rem;font-family:Arial, Helvetica,sans-serif;-webkit-text-size-adjust:none; background:#eee}
.clear:after,#wrap:after{ visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0; overflow: hidden }
/*input, select {outline: none; -webkit-appearance: none; border-radius: 0; border: none;  background: none}*/
a{color:#333; text-decoration:none; outline:0}
a:visited{color:#333}
.bdf{ background: #fff}
.bdb{ background: #000}

@media screen and (min-width:750px){
    html{ background:#eee}
    body{font-family:微软雅黑; width:750px; margin:0 auto}
}

.ftb{ font-weight: bold !important}
.ft6{ font-size: .6rem !important}
.tdt2{text-indent: 2em !important}

.fl{ float:left !important}
.fr{ float:right !important}
.tl{ text-align: left !important}
.tc{ text-align: center !important}
.tr{ text-align: right !important}
.marc{ margin: 0 auto !important}
.r{ position: absolute; top:0; right:0 }

/*文字高亮*/
.light-red{ color: #ff5722}/*红色高亮*/
.light-grey{ color: #999}/*灰色高亮*/
.light-green{ color: #259b24}/*绿色高亮*/
.light-blue{ color: #244EA4}/*蓝色高亮*/
.light-orange{ color: #ffca00}/*橘色高亮*/

/*边距*/
.mrt6{ margin-top: .6rem !important}
.mrt1{ margin-top: 1rem !important}
.mrt2{ margin-top: 2rem !important}
.mrt3{ margin-top: 3rem !important}
.mrt5{ margin-top: 5rem !important}

.mrb0{ margin-bottom: 0rem !important}
.mrb6{ margin-bottom: .6rem !important}
.mrb1{ margin-bottom: 1rem !important}
.mrb2{ margin-bottom: 2rem !important}
.mrb3{ margin-bottom: 3rem !important}
.mrb5{ margin-bottom: 5rem !important}

.mrr6{ margin-right: .6rem !important}
.mrr1{ margin-right: 1rem !important}
.mrr2{ margin-right: 2rem !important}
.mrr3{ margin-right: 3rem !important}
.mrr5{ margin-right: 5rem !important}

.pdt03{ padding-top: 0.3rem !important}
.pdt6{ padding-top: .6rem !important}
.pdt1{ padding-top: 1rem !important}
.pdt2{ padding-top: 2rem !important}
.pdt3{ padding-top: 3rem !important}
.pdt5{ padding-top: 5rem !important}

.pdr03{ padding-right: 0.3rem !important}
.pdr6{ padding-right: .6rem !important}
.pdr8{ padding-right: .8rem !important}
.pdr1{ padding-right: 1rem !important}
.pdr2{ padding-right: 2rem !important}
.pdr3{ padding-right: 3rem !important}
.pdr5{ padding-right: 5rem !important}

.pdb6{ padding-bottom: .6rem !important}
.pdb1{ padding-bottom: 1rem !important}
.pdb2{ padding-bottom: 2rem !important}
.pdb3{ padding-bottom: 3rem !important}
.pdb5{ padding-bottom: 5rem !important}

.pdl0{padding-left: 0 !important}
.pdl8{padding-left: .8rem !important}
.pdl16{padding-left: 1.6rem !important}
.pdl36{padding-left: 3.6rem !important}

.noBoder{border-bottom: none !important}

/*透明和渐变*/
.opacity { opacity: 0.5; filter: alpha(opacity=50) }

/*按钮*/
.btn{display: inline-block; font-size: .6rem; font-weight: bold; padding: 0 .4rem; border-radius: .2rem; color: #fff}
.btnBlueSml{ background: #244ea4}/*蓝色小按钮*/
.btnLBlueSml{ background: #10a6e2}/*浅蓝色小按钮*/
.btnRedSml{ background: #e21041}/*浅蓝色小按钮*/

.shBtnCoffee{ display: block; font-size: .8rem; color: #fff; height: 2.1rem; line-height: 2.1rem; text-align: center; background: #803d0d; border-radius: 50px}
.shBtnGrey{ display: block; font-size: .8rem; color: #fff; height: 2.1rem; width: 100%; line-height: 2.1rem; text-align: center; background: #666;border-radius: 50px }

.slideshow{ position: relative; overflow: hidden; width: 18rem; height: 6.67rem; margin: 0 auto; background: #fff}
.slideshow ul.items{ height:6.67rem; overflow: hidden}
.slideshow .items li{position: relative; text-align: center; float: left; width: 18rem; height: 6.67rem; overflow: hidden}
.slideshow .items img{ width:auto; height: 6.67rem; position: absolute; left:0; display: block}
.slideshow .number { position: absolute; right:.5rem; text-align: center; bottom: .5rem; display: table }
.slideshow .number span {  width:.3rem;  height: .3rem; border-radius: 100%; display: inline-block;  text-indent: -9999em;  margin-right: .2rem;  background:rgba(0,0,0,.5)  }
.slideshow .number span.swiper-active-switch{background-color:#fff; border-radius: 100%}

.ldtNav{ display:-webkit-box;display: box; height: 5rem; background: #fff; margin-bottom: .6rem}
.ldtNav .item{ -webkit-box-flex: 1; box-flex:1; text-align: center; padding-top: 1rem; text-align: center; font-size: .6rem; color: #000; line-height: 1rem}
.ldtNav .item img{  display:block;  width: 2rem;height: 2rem; display:block; margin: 0 auto .3rem}

.nearLdt{ position: relative; width:12rem;padding: 0 .5rem 0 4.5rem; height: 4rem; background: #fff; box-shadow: 0 10px 20px rgba(0,0,0,.05); margin: 0 auto .6rem}
.nearLdt .img{ position: absolute; left: 0; top:0; width: 4rem; height: 4rem}
.nearLdt .img img{ display: block;width: 4rem; height: 4rem}
.nearLdt .tit{ padding-top: .5rem; margin-bottom: .2rem; font-size: .7rem; line-height: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.nearLdt .txt{ font-size: .6rem; margin-bottom: .1rem; line-height: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #999}
.nearLdt .distance{ padding-left: .7rem; color: #999; font-family: 'Arial'; font-size: .6rem; line-height: 1rem;background: url("../img/icon-gps-grey.png") left center no-repeat; background-size: .4rem auto}
.nearLdt .type-orange{ display: block; position: absolute; top:0; right:0; background: #ff6600; color: #fff; border-radius: 0 0 0 10px; height: 2rem; line-height: 2rem; padding: 0 .75rem; font-size: 1.1rem;transition:font-size 0s;transform:scale(.4);transform-origin:top right}

.nearLdtList{ padding-bottom: .6rem}
.nearLdtList .nearLdt{ padding: .6rem .6rem .6rem 5.1rem; width: 12.4rem; margin-bottom: 0; border-bottom: 1px solid #f1f2f3}
.nearLdtList .nearLdt:last-child{ border-bottom: 0}
.nearLdtList .nearLdt .tit{ padding-top: .3rem; margin-bottom: .3rem}
.nearLdtList .nearLdt .txt{ margin-bottom: .2rem}
.nearLdtList .nearLdt .img{ top:.6rem; left: .6rem}
.nearLdtList .nearLdt{ box-shadow: none}
.nearLdtList .nearLdt .icon-gps{ display: inline-block; position: absolute; width: 3rem;height: 3rem; right: 0; top:50%; margin-top: -1.5rem; background: url("../img/icon-ads-grey.png") center no-repeat; background-size: auto 1.5rem}

.proList{ background: #fff; margin-bottom: .5rem}
.proList .item{ position: relative;  padding: .8rem .6rem; border-bottom: 1px solid #eee}
.proList .item:last-child{ border-bottom: 0}
.proList .item .icon-cloud{ position: absolute; right: .6rem; top:.4rem; display: inline-block; width: 2rem;height: 2rem;}
.proList .item .icon-cloud-red{z-index: 100;  background:url("../img/icon-cloud-red.png") center no-repeat; background-size: 1.2rem .8rem}
.proList .item .icon-cloud-grey{z-index: 100;  background: url("../img/icon-cloud-grey.png") center no-repeat; background-size: 1.2rem .8rem}

.proList .item .tit{ position: relative; line-height: 1.2rem; font-size: .8rem; width: 15rem; margin-bottom: .4rem}
.proList .icon-del{ position: absolute; right: .8rem; top:.45rem; display: inline-block; width: 1.5rem; height: 1.5rem; background: url("../img/icon-del.png") center no-repeat; background-size: auto .5rem}
.proList .item .desc{ font-size: .6rem; color: #666; line-height: 1rem; height: 2rem;overflow: hidden; margin-bottom: .4rem}
.proList .item .info{ color: #999; font-size: .6rem}
.proList .item .info span{ margin: 0 .5rem; color: #dedede}


.footBar .scan{ position: relative; text-align: center; padding-top: 0; height: 2.5rem}
.footBar .scan .in{margin:-.5rem auto 0;padding-top: .8rem; width: 3rem; height: 2.2rem; color: #fff; text-align: center; background: url("../img/nav-scanbg.png") center no-repeat; background-size: 3rem}

.nearLItem{ position: relative; width: 18rem; height:12rem; margin: 0 auto}
.nearLItem img{ display: block;width: 18rem;height: 12rem}
.nearLItem .foot{ position: absolute; left: 0; bottom:0; width: 16rem; padding:3.67rem 2rem 0 0; height: 3rem;  background: url("../img/nearFootBg.png") center bottom no-repeat; background-size: 18rem 6.67rem}
.nearLItem .foot h3{ line-height: 1.5rem; font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #fff; text-indent: .6rem; font-family: 'Arial'}
.nearLItem .foot p{ line-height: 1.2rem; font-size: .6rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #fff; text-indent: .6rem}
.nearLItem .foot p b{ margin: 0 .5rem 0 .3rem}
.nearLItem .foot .ads{ position: absolute; bottom: .6rem; right: .6rem; font-size:1rem;color: #fff; display: inline-block; padding-top: 2.5rem; background: url("../img/icon-ads-white.png") center top no-repeat; background-size: auto 2rem; transition:font-size 0s;transform:scale(.4);transform-origin:bottom right;}

.clfyFilter{ padding: .6rem 0 0 .6rem; background: #fff}
.clfyFilter .items{ width: 17.4rem; height: 1.2rem;padding-bottom: .6rem; white-space:nowrap;overflow:auto}
.clfyFilter .items a{ display: inline-block; margin-right: .3rem; height: 1.2rem; line-height: 1.2rem; padding: 0 .4rem; border-radius: 25px; font-size: .6rem}
.clfyFilter .items a.current{ background: #ff6600; color: #fff}
.clfyFlt{ margin-bottom: .6rem; height: 1.8rem; line-height: 1.8rem; text-align: center; font-size: .7rem; color: #ff6600; background: #fff; border-top:1px solid #eee}

.noReading{ padding:2.2rem 0 .5rem; text-align: center}
.noReading img{ display: block; width: 6rem; height: auto; margin: 0 auto .4rem}
.noReading .noTit{ line-height: 1.2rem; font-size: .8rem; font-family: 'Microsoft YaHei'; color: #000; margin-bottom: .3rem}
.noReading .noTxt{ line-height: 1rem; color: #666; font-size: .6rem}
.noReading .btnGo{ display: inline-block; padding: 1rem; color: #ff3300; font-size: .7rem}

.readListTips{ padding: .6rem; line-height: 1.2rem; font-size: .6rem; color: #666; text-align: center}
.noProData{ padding: 2.5rem 0 1rem; text-align: center}
.noProData img{ display: block; width: auto; height: 3rem; margin: 0 auto .6rem}
.noProData .noTit{ line-height: 1.2rem; font-size: .8rem; font-family: 'Microsoft YaHei'; color: #000; margin-bottom: .3rem}
.noProData .noTxt{ line-height: 1rem; color: #666666; font-size: .6rem}
.noProData .btnGo{ display: inline-block; padding: 1rem; color: #ff3300; font-size: .7rem}

.icon-cloud-greyTemp{ display: inline-block;position: absolute; z-index:99; right: .6rem;bottom:4.2rem;  width: 2rem; height: 2rem; background: url("../img/icon-cloud-red.png") center no-repeat; background-size: 1.2rem .8rem; opacity: 0}
.icon-cloud-greyTemp.on{ position: fixed ; bottom:1rem !important; right: 3.3rem!important; animation:actAdd 0.5s forwards; -webkit-animation:actAdd 0.5s forwards}

@keyframes actAdd
{
    0% { position: absolute; z-index: 99; right: .6rem; bottom:4.2rem;  opacity: 0}
    80%{ opacity: 1}
    90%{ opacity: 1; z-index: 111}
    100% { position: fixed !important; z-index: 99;right: 4rem; bottom:.6rem; opacity: 0}
}
@-webkit-keyframes actAdd
{
    0% { position: absolute; z-index: 99; right: .6rem; bottom:4.2rem;  opacity: 0}
    80%{ opacity: 1}
    90%{ opacity: 1; z-index: 111}
    100% { position: fixed !important; z-index: 99;right: 4rem; bottom:.6rem; opacity: 0}
}

.upLoadTxt{ padding: .6rem}
.upLoadTxt .item{ padding-left: 3.6rem; position: relative; margin-bottom: .6rem}
.upLoadTxt .item .lbl{ position:absolute; left:0; top:0;display: inline-block; width: 3.6rem; height: 2rem; line-height: 2rem; font-size: .65rem}
.upLoadTxt .item .ipt{ display: inline-block; width: 12rem; padding: 0 .5rem; height: 2rem; line-height: 2rem; background: #eee; border-radius: 3px}
.upLoadTxt .item .ipt input{ display: inline-block; width: 12rem; height: 1rem; line-height: 1rem; padding: .5rem 0; font-size: .65rem; border:0; background: none}
.upLoadTxt .item .sel{ display: inline-block; width: 6rem; padding: 0 .5rem; height: 2rem; line-height: 2rem; background: #eee; border-radius: 3px}
.upLoadTxt .item .sel select{ display: inline-block; width: 6rem; height: 2rem; line-height: 2rem; font-size: .65rem; border:0; background: none}
.upLoadTxt .type a{ display: inline-block; margin:.4rem .3rem .4rem 0; height: 1.2rem; line-height: 1.2rem; padding: 0 .4rem; border-radius: 25px; font-size: .6rem; font-size: .65rem}
.upLoadTxt .type a.on{ background: #ff6600; color: #fff}
.upLoadTxt .item .txtArea{ width: 12rem; height: 15rem; padding: .5rem; background: #eee; border-radius: 3px}
.upLoadTxt .item .txtArea textarea{ width: 12rem; height: 15rem; line-height: 1rem; background: none; border:0; font-size: .65rem}
.upLoadTxt .txtCon p{ line-height: 1.5rem; text-align: right; color: #999; padding-right: .6rem}

.upLoadTxt .agree{ text-align: center; font-size: .65rem; line-height: 1rem}
.upLoadTxt .agree a{ color: #ff6600; text-decoration: underline}
.btnUploadSub{ position: fixed; bottom:0; left: 50%; margin-left: -9rem; display: block; width: 18rem;height: 2rem; line-height: 2rem; font-size: .8rem; color: #fff; text-align: center; background: #ff6600}


/*上海图书馆*/
.shTopBanner{}
.shTopBanner img{ display: block; width: 100%}
.shDateSlider{overflow: hidden; background: #fff}
.shDateSlider ul{ white-space: nowrap; overflow-x: auto}
.shDateSlider li{ height: 2rem;  padding: 0 .6rem; display: inline-block; line-height: 2.1rem; border-bottom: .1rem solid #fff; font-size: .7rem; color: #999}
.shDateSlider li.current{ color: #803d0d; border-bottom-color: #803d0d}

.staticCnt{ padding: 1rem .6rem 2rem; font-size: .7rem; line-height: 1.5rem}
.staticCnt .tit{ font-size: .85rem; text-align: center; margin-bottom: .5rem; font-weight: bold}
.staticCnt p{ margin-bottom: .8rem}
.copyRbtm{ text-align: right; padding-top: .5rem}
.copyRbtm em{ display: inline-block; width: 12rem; text-align: left}

.staticCnt-csxz p{ text-indent: 2em}
.staticCnt-csxz .subTit{ font-weight: bold; font-size: .75rem; margin-bottom: 0; text-indent: 0}
.staticCnt-csxz table{ margin-bottom: 1rem; width: 100%; border:1px solid #999}
.staticCnt-csxz table td,.staticCnt-csxz table th{ border:1px solid #999; padding: .2rem; text-align: center}
.staticCnt-csxz table th{ font-weight: bold; font-size: .75rem; background: #803d0d; color: #fff}
.staticCnt-csxz .code img{ display: block;width: 50%; margin: 0 auto}
.staticCnt-csxz .code p{ text-align: center; text-indent: 0}

.applySure{ display: block; width: 100%; height: auto}
/*zlh*/
/*活动规则页    修改*/
.rlueContainer{ margin-top: -1rem; padding:10.5rem 0 3rem; font-size: .6rem; color: #fff; line-height: 1rem; background: #7f0a17 url("../img/rule-bg.png") center top no-repeat; background-size: 100% auto}
.rlueContainer ol,.rlueContainer li{ list-style-position: outside; list-style-type: decimal; display: list-item}
.rlueContainer ol{ margin: 0 .6rem 0 1.5rem}
.rlueContainer li{ margin-bottom: .6rem; list-style-type: decimal;font-weight: 300;}
.rlueContainer h4{ margin: 0 .6rem .5rem .6rem; font-weight: 700;font-size: .7rem; text-shadow: 0px 0px 5px rgba(0,0,0,.5) }
.rlueContainer .qr{ display: block; width: 100%; height: auto}
.btnBox{ padding: 0 .6rem }
.myPBox { padding: 0 3.5rem; }
.myNoImg { margin: 1rem 0 .5rem;padding: 0 3.5rem; }
.myNoImg img { width: 100%;height: auto; }
.rlueContainer p { margin: 0 .6rem .6rem .6rem;font-weight: 300}
.shBtnYellow { display: block; font-size: .8rem;font-weight: 700; color: #000; height: 2.1rem; width: 100%; line-height: 2.1rem; text-align: center; background: #ffca00;border-radius: 50px }
.shBtnRed {display: block; flex-flow: nowrap column;font-size: .8rem; height: 2.1rem; width: 100%; line-height: 2.1rem; text-align: center; background: #d31027;border-radius: 50px;color: #fff; }
.rlueFooter{display: flex; height:2.1rem;background:#fff;width:18rem;position:fixed;bottom:0;color:#000;z-index:2;border-top:1px solid rgba(0,0,0,.1)}
.footerItem a{display:inline-block;}
.footerItem {flex: 1;}
.footerItem a{width: 100%;height:2.1rem;line-height:2.1rem;text-align:center}
.footerItem:nth-child(2){border-left:1px solid rgba(0,0,0,.2);border-right:1px solid rgba(0,0,0,.2)}
.redTA a{color:#d31027!important;font-weight:700}
.rlueContainer h3{ font-size: .8rem; text-align: center; line-height: 1.3rem; margin-bottom: .8rem}
.rlueContainer table{ width: 16.8rem; margin: 0 auto .3rem}
.rlueContainer table td{ padding-bottom: .5rem}

/*活动报名页     修改*/
.homeContainer,.enrollContainer { background:  url("../img/enroll-bg.png") center top no-repeat; background-size: 100% 10rem;   padding-top: 10rem; margin-top: -.6rem;}
.input-item { background: #fff; position: relative;padding: .6rem;border-bottom: 1px solid rgba(0,0,0, .05)}
.input-item input { display: inline-block;padding-right: .6rem;font-size: .6rem;background: none; border:0;height: 2rem;position: absolute;left: 4rem;top: .1rem;width: 13rem}
.enrollBtn { margin: 1rem 0 0.5rem 0; }
.enrollTxt { text-align: center; font-size: .5rem; }

/*报名成功     修改*/
.enrollRstC {background: #fff; height: 100%}
.enrollRstTop{ padding-top: 2.5rem; height: 7rem; text-align: center}
.enrollRstTop-Suc { background: #5fb11e}
.enrollRstTop-Err { background: #ff6600}
.enrollRstTop img{display: inline-block; width: 3rem;height: 3rem; margin: 0 auto .8rem}
.enrollRstTop p{ font-size: 1rem; color: #fff; text-align: center}

.enrollRstTips{ padding:.6rem; text-align: center;}
.enrollRstTips .txt-black{ font-size: .8rem; color: #333; line-height: 1.4rem}
.backBtnSuc{color:#5fb11e;border:1px solid #5fb11e}
.backBtnErr{color:#f60;border:1px solid #f60}
.backBtnErr,.backBtnSuc{padding:.6rem 3.5rem;border-radius:50px;margin-top:2rem}
.suc-txt{margin-bottom:2rem}

/*首页       修改*/
.homeContainer{padding-bottom: 2.1rem}
.homeTab ul{width:100%;background:#fff;display: flex;}
.homeTab ul li{display:inline-block;width:100%;text-align:center;flex: 1;}
.homeTab ul li img{height:.6rem}
.homeTab ul li a{padding:.5rem .3rem .5rem .3rem;display:block;width:3rem;margin:0 auto}
.tabActive{border-bottom:3px solid #d31027}
.userProList{ background:#fff}
.userProList .item{position: relative; height: 3rem; padding: .5rem 3rem .5rem 4.5rem; border-top: 1px solid #eee}
.userProList .item .tit{ font-size: .7rem; color: #000; line-height: 1rem; margin-bottom: .3rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.userProList .item p{ font-size: .6rem; color: #999; line-height: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.userProList .item .img{ position: absolute; top:.6rem; left: .6rem; width: 3.5rem; height: 3rem;}
.userProList .item .img img:first-child { display: inline-block; width: 3rem;height: 3rem;position: absolute;z-index: 1;}
.userProList .item .img img:last-child { position: absolute;  height: 3rem;  width: 1rem; z-index: 0; left: 2.4rem;}
.userProList .item .fr{ position: absolute; top:.5rem; right: 0; width: 7.5rem; height: 6.3rem; padding-top: 1.2rem; display: inline-block; color: #999; font-size: 1rem;transition:font-size 0s;transform:scale(.4); transform-origin: top right; text-align: center}
.userProList .item .fr img{ display: block; margin: 0 auto 1em}
.userProList .item .icon-alreadEnter,.userProList .item .icon-racing,.userProList .item .icon-race,.userProList .item .icon-king{ width: 3rem; position: absolute; right: .6rem; top:50%; margin-top: -.75rem; text-align: center;  font-size: .7rem; color: #fff; display: inline-block; height: 1.5rem; line-height: 1.5rem; border-radius:50px}
.userProList .item .icon-racing{ background: #d31027}
.userProList .item .icon-king img { height: 1.5rem;float: right; }
.userProList .item .icon-race{ width: 2.9rem; height: 1.4rem; background: #fff; border:.05rem solid #d31027; color: #d31027}

/*作品详情        修改*/
.readingTop{ width: 18rem; height: 10.167rem; background: url("../img/ldtBg.png") center no-repeat; background-size: 18rem 10.167rem}
.readingTop2{ background: url("../img/ldtBg2.png") center no-repeat; background-size: 18rem 10.167rem}
.readingTop3{ height: 5rem; background: url("../img/ldtBg3.png") center no-repeat; background-size: 18rem 5rem}
.readingTop .ado{ position: relative; z-index: 1; width: 18rem;height: 10.167rem}
.readingTop .ado .img{ z-index:2;  position: absolute; left: 50%; margin-left: -4.4rem; top:50%; margin-top: -4.4rem; display: inline-block; width: 8.8rem;height: 8.8rem; background: url("../img/ado-imgBg.png") center no-repeat; background-size: 8.8rem}
.readingTop .ado .img img{ z-index: 3; position: absolute; left: 50%; margin-left: -3.5rem; top:.7rem; display: inline-block; width: 7rem;height: 7rem}
.readingTop .ado .icon{ z-index: 4; position: absolute; display: inline-block; width: 2.6rem;height: 2.6rem; left: 50%; margin-left: -1.3rem;top:50%; margin-top: -1.3rem;}
.readingTop .ado .icon-play{ background: url("../img/icon-bofang.png") center no-repeat; background-size: 2.6rem}
.readingTop .ado .icon-stop{ background: url("../img/icon-stop.png") center no-repeat; background-size: 2.6rem}
.readingTop3 .ado{ position: relative; z-index: 1; width: 18rem;height: 5rem}
.readingTop3 .ado .icon{ z-index: 4; position: absolute; display: inline-block; width: 2.6rem;height: 2.6rem; left: 50%; margin-left: -1.3rem;top:50%; margin-top: -1.3rem;}
.readingTop3 .ado .icon-play{ background: url("../img/icon-bofang.png") center no-repeat; background-size: 2.6rem}
.readingTop3 .ado .icon-stop{ background: url("../img/icon-stop.png") center no-repeat; background-size: 2.6rem}
.readingTop .vdo{ width: 18rem; height: 10.167rem; background: #000}
.readingTop .vdo video{ width: 18rem; height: 10.167rem}
.readingTop .Txt{ position: relative; width: 18rem; height: 10.167rem; overflow: hidden}
.readingTop .Txt .mask{ position: absolute; left:0; bottom:0; width: 18rem; height: 1.8rem; background: url("../img/ldtMask.png") center bottom no-repeat; background-size: 18rem 1.8rem}
.readingTop .Txt p{ line-height: 1.6rem; font-size: .8rem; color: #fff; font-family: 'Microsoft YaHei'; text-align: center; text-shadow: 0 0 2px rgba(0,0,0,1)}
.readTopInfo{ padding:.6rem 0; background:#fff}
.readTopInfo .tit{ position: relative; font-size: .8rem; color: #000; font-family: 'Microsoft YaHei'; line-height: 1.2rem; padding: .3rem .6em .3rem .6rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.readTopInfo .tit .fr{ position: absolute; display: inline-block; line-height: 1.2rem; right: .6rem; top:.3rem; font-size: .6rem; color: #999}
.readTopInfo .subTit{ line-height:1.2rem; margin-bottom:.7rem; padding: 0 .6rem; font-size: .6rem; color: #000}
.readTopInfo .subTit label{ color: #dedede; margin: 0 .5rem}
.readTopInfo .btnJoin{ display: block; width: 16.8rem; height: 2.1rem; margin: .5rem auto 0; background: url("../img/btnbg-orange.png") center top repeat-x; background-size: 18rem 2.1rem; border-radius:5px; line-height: 2.1rem; text-align: center}
.readTopInfo .btnJoin img{ display: inline-block; width: auto; height: .9rem; vertical-align: middle}
.readTopInfo .desc{ padding: .6rem .6rem 0; border-top:1px solid #eee; font-size: .6rem; line-height: 1rem}
.hopeStory { border: .1rem solid #d31027;background: #fff;position: relative;}
.hopeStory img{width: 18rem;position: absolute;left: -.1rem;top: -.1rem;}
.hopeTit{position:absolute;left:4.5rem;z-index:1;color:#fff;}
.hopeContent { padding: 1.2rem .6rem .6rem .6rem}
.userShare{ background: #eee; padding:.5rem; margin: .5rem 0; background: #fff}
.userShare .userPic{ height: 2rem; text-align: left; overflow: hidden; float: left; margin-right: .3rem; width: 11rem; overflow: hidden}
.userShare .userPic img{ display: inline-block; float: left; width: 2rem; height: 2rem; margin-right: .25rem; border-radius: 50%}
.userShare .userPic img:last-child{ margin-right: 0}
.userShare .info{ text-align: center; font-size: .5rem; line-height: 1.3rem; height: 1rem; color: #999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.userShare .num{ font-size: .5rem; color: #999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.userShare .btnProShare{ font-size: .7rem; color: #ff3300; display: block; padding: 0 .6rem; text-align: center}
.otherPro{ background: #fff; margin-bottom: .6rem}
.otherPro .t{ color: #999; font-size: .6rem; padding: 0 .6rem; height: 1.5rem;line-height: 1.5rem; border-bottom: 1px solid #eee}
.otherPro .userProList .item{ padding-right: .6rem}
.footBarPis{ height: 3rem}
.footBar{ position: fixed; display:-webkit-box;display: box;  z-index: 100; left:50%; margin-left: -9rem; bottom:0; width: 18rem; height: 2.5rem; background: #fff; border-top:1px solid #ccc}
.footBarPisOpt{ height: 2.5rem}
.footBarOpt{ display: block; padding: 0 .6rem; width: 16.8rem}
.footBarOpt .btnZan{ float: right; margin:.5rem 0 0 0; border-radius:3px;width: 7.5rem; height: 1.5rem; line-height: 1.5rem; text-align: center; background: #d31027; color: #fff}
.footBarOpt .btnZan img{ display: inline-block; width: .8rem; height: auto; vertical-align: middle}
.footBarOpt .opt{ float: left; font-size: .6rem; line-height: 2.5rem}
.footBarOpt .opt a{ color: #d31027;margin-right: 1.2rem; display: inline-block; height: inherit}
.footBarOpt .opt a:last-child{ margin-right: 0}
.footBarOpt .opt img{ display: inline-block; height: .8rem; vertical-align: middle; margin-right: .3rem}

/*对话框       修改*/
.dioMask{position: fixed; left: 0; top: 0; z-index: 1000; width: 100%; height: 100%;  background: rgba(0,0,0,.5)}
.DioLogDZ{ position:fixed; left: 50%; top:50%; padding-top: .8rem; margin-left: -6.75rem; z-index: 1001; width: 13.5rem; background: #fafafa;border-radius: 5px; box-shadow: 1px 3px 10px 5px rgba(0,0,0,.2)}
.DioLogDZ .tit{ line-height: 1.2rem; font-size: .8rem; color: #000; text-align: center}
.DioLogDZ .content{ padding: .6rem; color: #666; font-size: .6rem}
.DioLogDZ .content p{ line-height: 1rem; margin-bottom: .4rem}
.DioLogDZ .iptBox{ height: 1.6rem; line-height: 1.6rem; padding: .2rem .5rem; background: #eee; border:1px solid #ccc; border-radius: 5px}
.DioLogDZ .iptBox input{ display: block; width: 100%; height: 100%; background: none; border:0}
.DioLogDZ .footer{ padding: 0 .6rem; overflow: hidden; height: 1.6rem; line-height: 1.6rem; border-top:1px solid #dddddf; text-align: center}
.DioLogDZ .footer a{ font-size: .7rem; color: #0076ff; display: inline-block; padding: 0 .6rem}

.DioLogDown{ position:fixed; left: 50%; top:50%; z-index: 1001; width: 12.5rem; background: #fafafa;border-radius: 5px; box-shadow: 1px 3px 10px 5px rgba(0,0,0,.2); padding: .8rem 1.2rem .5rem; margin-left: -7.5rem}
.DioLogDown .tit{ text-align: left; height: 1.5rem; line-height: 1.5rem; font-size: 1rem; color: #333}
.DioLogDown .desc{ font-size: .7rem;  line-height: 1rem; color: #999; margin: .4rem 0}
.DioLogDown .editTxt{ border:2px solid #ccc; border-radius: 2px; padding: .3rem; height: 2rem}
.DioLogDown .editTxt textarea{ width: 100%; height: 100%; display: block; border:0; background: none}
.DioLogDown .footer{ border-top: 0; text-align: right; padding: 0}
.DioLogDown .footer a{ padding: 0}


/*我的   */
.userTop{ width: 18rem; padding-top: 1.8rem; height: 8.2rem; background: url("../img/my-bg.png") center no-repeat; background-size: 18rem 10rem}
.userTop img{ display: block; width: 4rem;height: 4rem; margin: 0 auto .2rem; border-radius: 100%; box-shadow: 0 10px 20px rgba(0,0,0,.25)}
.userTop .name{ font-size: 1rem; text-align: center; line-height: 1.5rem; color: #fff; font-family: 'Microsoft YaHei'}
.userTop .txt{ font-size: .6rem; text-align: center; line-height: 1.2rem; color: #fff}
/*完善信息 */
.applyForm{ position: relative; padding-bottom: 2.5rem; padding-top: .6rem}
.applyForm .shItem{ background: #fff; margin-bottom: .5rem}
.applyForm .shItem li{ position: relative; height: 2.1rem; line-height: 2.1rem; padding: 0 .6rem; border-top:1px solid #eee; font-size: .7rem; overflow:hidden}
.applyForm .shItem li label{ display: inline-block; width: 4.5rem; float: left}
.applyForm .shItem li .selBox,.applyForm .shItem li .txtBox{ display: inline-block; width: 12rem; height: inherit; line-height: inherit}
.applyForm .shItem li select,.applyForm .shItem li input{ border:0; background: 0; font-size: .7rem; height: inherit; -webkit-tap-highlight-color:rgba(0,0,0,0); width: 100% }
.applyForm .shItem li .iptCheck{ width: .8rem;height: .8rem;position: absolute; right: .6rem; top:50%; margin-top: -.4rem }
.applyForm .shItem li.date .num{ position: absolute; right: .6rem; color: #803d0d}
.applyForm .shItem li.date .selBox{ width: 6rem}
.agreeZ { padding: 0 .5rem .5rem; line-height: 1.5rem; font-size: .5rem; text-align: center; color: #333}
.agreeZ a{ color: #d31027; text-decoration: underline}

.applyForm .btn{ display: block}
.applyForm .formTips{ position:absolute;bottom:0;font-size: .5rem; padding:.5rem .6rem 1rem; width: 16.8rem; display: block; text-align: center; }
.applyForm .formTips .tips-red{ color: #333}
.applyForm .formTips .tips-grey{ color: #333}

/*提交作品页面     修改*/
.tABox { width: 18rem;position: relative;}
.tABox select { width: 18rem;border: none;font-size: .7rem;padding: .6rem;border-bottom: 1px solid rgba(0,0,0,.1) }
.tABox textarea { width: 16.8rem;border: none;font-size: .7rem;padding: .6rem;font-family:Arial, Helvetica,sans-serif; }
.textareaWN { position: absolute;bottom: .6rem;right: .6rem;color: #999 }

/*专区列表页 */
.areaContainer { min-height: 100%;padding: 0 .6rem;font-size: .7rem; line-height: 1rem; background: #7f0a17 url("../img/area-bg.png") center top no-repeat; background-size: 100% auto}
.areaSelect select { width: 100%;padding: .6rem;border-radius: .3rem;border: none; }
.areaSelect { padding-top: 8rem; }
.selectOut { background: #fff;border-radius: .3rem;position: relative; }
.areaScreen { margin-top: .6rem;border-radius: .3rem;background: #fff;width: 100%;min-height: 10rem; }
.screenItem { display: flex;border-bottom: 1px solid rgba(0,0,0, .05) }
.screenItem .to a { display: block;padding: .6rem;width: 3rem;text-align: right;color: #ff3300;font-size: .6rem;}
.screenItem .itemInfo { padding: .6rem;overflow: hidden; width: 12rem;white-space: nowrap;text-overflow: ellipsis;}
.selOpen { position: absolute;right: .6rem;top: .6rem; }
/*zlh*/
/*live video    直播页面*/
.live-container{position:relative;padding-bottom:3rem;background:#4a2105}
.live-screen{position:absolute;top:9.5rem;z-index:2;margin-left:.74rem;width:16.52rem;height:9.5rem;background:#fff}
.live-user{position:relative}
.live-avatar,.live-avatar img{width:2.5rem;height:2.5rem}
.live-avatar{bottom:.5rem;left:.74rem;border-radius:50%}
.live-avatar,.user-description{position:absolute;overflow:hidden}
.user-description{bottom:.7rem;left:3.8rem;display:-webkit-box;width:9.5rem;color:#ffea7f;font-size:.6rem;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.user-like{position:absolute;right:.74rem;bottom:.5rem}
.user-like img{height:1.7rem}
.like-times{position:absolute;top:.3rem;left:1.5rem;width:2rem;color:#ffea7f;text-align:center}
.live-footer{position:fixed;bottom:0;z-index:10;width:18rem;height:2rem;background:#fff}
.live-footer input{padding-left:.5rem;width:14.2rem;height:1.4rem;border:none;border-radius:.2rem;background:#ddd}
.footer-item{margin:.3rem 0 0 .3rem}
.footer-item>button{width:2.5rem;height:1.5rem;border:none;border-radius:.2rem;background:#4a2105;color:#fff;font-size:.5rem}
.barrage-box{position:relative;margin-top:1rem;margin-left:.6rem;padding:1rem .5rem .5rem;width:15.7rem;height:14rem;border:1px solid #6e4d37;border-radius:1rem}
.barrage-box li{color:#fff}
.user-name{color:#ffea7f}
.barrage-title{position:absolute;top:-.5rem;left:50%;transform:translate(-50%,0)}
.barrage-title img{height:1.3rem}
.activity-info{margin-top:1rem;margin-left:.6rem;padding:.5rem .5rem 0;width:15.7rem;height:25rem;border-radius:1rem;background:#dbd3cd}
.activity-title{margin:.5rem 0;font-weight:700;font-size:.8rem}
.live-player{width:16.52rem;height:9.5rem}

.none{ display: none}
/*覆盖laui样式*/
.layui-flow-more { padding: 3rem 0 4rem 0; }

