.intro_row {
  display: flex;
  .icon {
    height: 50px;
    width: 50px;
  }
  .item {
    margin: 0 30px 50px 30px;
    width: 120px;
  }
}
.intro_description {
  font-size: 18px;
  margin-bottom: 50px;
}